html {
	color: rgba(0,0,0,0.87);
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
body, html{
	height: 100%;
	min-height: 100%;
}
/* custom css */
.text-bold{
	font-weight: 500;
}
.text-red{
	color: #AD0001;
}
.text-link{
	color: #333;
}
.gray-hr{
	color: #5f5f5f;
	font-size: 30px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}
.visible-desk{
	display: block !important;
}
.visible-tab{
	display: none !important;
}
.visible-phone{
	display: none !important;
}
.news__item-img--desk{
	display: block !important;
}
.news__item-img--tab{
	display: none !important;
}
.quality__banner--small{
	display: none !important;
}
.science-section__heading--tab{
	display: none;
}
.container--formula-small{
	display: none;
}
.optimal-path__summary-header--resp{
	display: none;
}
.optimal-path__summary--resp{
	display: none;
}
.how-it-works-resp-main{
	display: none;
}
.securty-banner__img--resp{
	display: none !important;
}
.doctor__mo-img--phone{
	display: none !important;
}
/* header */
.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
.container--small{
	max-width: 1000px;
}
.header-top{
	background-color: #383c41;
}
.header-top__left-side{
	display: inline-block;
}
.header-top__nav{
	display: inline-block;
	vertical-align: middle;
}
.header-top__logo-wrapper{
	width: 260px;
	max-height: 69px;
	margin: 12px 70px 15px 35px;
}
.header-top__logo-wrapper img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.header-top__nav-list{
	margin-left: 25px;
}
.header-top__nav-list li{
	font-size: 16px;
	margin: 0 42px 0 0;
	padding: 35px 5px 10px 5px;
	display: inline-block;
}


.header-top__nav-list a{
	color: white;
	text-decoration: none;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}
.responsive-menu__btn{
	display: none;
}
/* big image */
.big-image{
	width: 100%;
	height: auto;
	border-bottom: 17px solid #dcdcdc;
	background-image: url('../img/5ea50-bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
	z-index: 5;
	overflow: hidden;
	height: 700px;
	max-height: 700px;
}
.big-image__wrapper--small{
	position: absolute;
	/* left: 296px; */
	left: 0;
	top: 461px;
	width: 558px;
	height: 401px;
}
.big-image__wrapper--small img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.big-image__wrapper{
	position: absolute;
	/* left: 662px; */
	right: -75px;
	top: -1px;
	width: 1006px;
	height: 856px;
}
.big-image__wrapper img{
	z-index: 2;
	position: relative;
	float: right;
	width: 100%;
	max-width: 100%;
	height: auto;
}
.big-image__line{
	background-color: rgba(255, 255, 255, 0.4);
	max-height: 365px;
	min-height: 365px;
	/* max-width: 2750px; */
	/* min-width: 2750px; */
	width: 100%;
	position: absolute;
	top: 47px;
}
.big-image__text-container{
	/* float: left; */
	min-width: 373px;
	max-width: 373px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	min-height: 205px;
	max-height: 205px;
	color: rgba(81,81,81);
	-webkit-font-smoothing: antialiased;
}


.big-image__header{
	font-size: 36px;
	line-height: 42px;
	font-weight: 300;
	color: rgba(73,73,73);
	margin: 25px 0;
	
}
.big-image__paragraph{
	margin-bottom: 15px;
}
/* news */
.news-left-side{
	padding: 50px 0;
	background-color: #fafafa;
}
.news__item{
	margin-bottom: 45px;
}
.news__item-img{
	float: left;
	max-width: 218px;
	margin-right: 40px;
	padding-left: 15px;

}
.news__item-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.news__item-heading{
	font-weight: 300;
	font-size: 33px;
	-webkit-font-smoothing: antialiased;
	line-height: 36px;
}
.news__item-para{
	padding-top: 10px;
	padding-right: 25px;
	font-weight: 300;
	line-height: 25px;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;	
}
.news__full-width{
	display: flex;
	background-color: #fafafa;
	justify-content: space-around;
}
.news__flags-container{
	width: 50%;
	display: inline-block;
	display: flex;
}
.news__flags{
	width: 25%;

}
.news__flags{
	max-width: 150px;
	padding-left: 15px;
}
.news__flags img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.news__flags-desc{
	width: 55%;
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 0 10px;
	margin: 0 0 10px;
}
.news__post-services{
	width: 50%;
	display: inline-block;
}
.news__post-services{
	max-width: 450px;
	
}
.news__post-services img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* results track */
.results-banner{
	background: url('../img/devider_red_bg.jpg'), #ad0001;
	background-position: center;
	background-repeat: repeat-y;
	min-height: 100px;
}
.container--results{
	background: 
		url('../img/satisfaction_guarateed.png'),
		url('../img/img_num1_seal.png'),
		url('../img/devider_red_bg_center.png');
		background-size: auto, auto, cover;
		background-position: 6% center, 92% center, center top;
		background-repeat: no-repeat;
		color: white;
		text-align: center;
}
.results-banner__heading{
	font-size: 44px;
	font-weight: 300;
	padding-top: 25px;
	-webkit-font-smoothing: antialiased;
}
.results-banner__desc{
	padding: 0 20px 25px 10px;
	font-weight: 400;
	font-size: 20px;
	margin: 0 auto;
	max-width: 768px;
	-webkit-font-smoothing: antialiased;	
}
/* results slider */
.results-slider-container{
	max-height: 435px;
	margin-bottom: 30px;
}
.results-slider__item img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* science */
.science-section{
	margin: 120px 0 50px 0;
}
.science-section__item{
	display: flex;
	align-items: center;

}
.science-section__item--img-rig{
	margin-bottom: 100px;
}
.science-section__text{
	width: 41.6666%;
	vertical-align: middle;
	padding: 0 15px;
}
.science-section__item-img{
	display: none;
}
.science-section__item--img-rig .science-section__item-bckg{
	background: url('../img/obsessively.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 380px;
	width: 58.33333333%;
}
.science-section__item--img-lef .science-section__item-bckg{
	background: url('../img/ritual.jpg');
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 380px;
	width: 58.33333333%;
}
.science-section__heading{
	font-weight: 300;
	font-size: 38px;
	text-transform: uppercase;
	margin-bottom: 25px;
	-webkit-font-smoothing: antialiased;
	line-height: 110%;
	color: rgba(55, 60, 65)
}
.science-section__desc{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	color: rgba(51,51,51);
	-webkit-font-smoothing: antialiased;
}
.science-section__list{
	padding-top: 15px;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	-webkit-font-smoothing: antialiased;
}
.science-section__list-img svg{
	width: 17px;
	height: 17px;
	fill: #ad0001;
	margin-right: 8px;
}
/* how it works */
.how-it-works__banner{
	background-color: #ededee;
	padding: 30px;
	text-align: center;
}
.how-it-works__heading{
	font-weight: 200;
	padding: 10px 0 5px 0;
	font-size: 58px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: #373c41;
	line-height: 110%;
}
.how-it-works__desc{
	font-weight: 300;
	font-size: 34px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: #373c41;
}
.how-it-works__text{
	font-weight: 300;
	font-size: 22px;
	-webkit-font-smoothing: antialiased;	
}
/* formula desk */
.formula--desk{
	position: relative;
}
.formula--desk-img{
	position: absolute;
	top: 0;
	left: 52%;
	margin-left: -1100px;

}
.formula--desk-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.formula--desk .formula__text{
	margin-left: 66.66666667%;
}
.formula--desk .formula__text:first-of-type{
	padding-top: 60px;
}
.formula__text-heading{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 18px;
	color: #373c41;
	-webkit-font-smoothing: antialiased;
	
}
.formula__text-desc{
	font-weight: 400;
	margin-bottom: 15px;
	line-height: 20px;
	height: 85px;
	max-width: 375px;
	-webkit-font-smoothing: antialiased;
	
}
/* optimal path */
/* optimal path banner */
.optimal-path{
	overflow: hidden;
	position: relative;
	border-bottom: 17px solid #dcdcdc;
	width: 100%;
}
.optimal-path__banner{
	background-color: #ededee;
	padding: 30px;
	text-align: center;
	margin-bottom: 55px;
}
.optimal-path__banner-header{
	font-weight: 200;
	padding: 10px 0 5px 0;
	font-size: 50px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: #373c41;
	line-height: 110%;
}
.optimal-path__banner-desc{
	font-weight: 300;
	line-height: 28px;
	max-width: 750px;
	text-align: center;
	font-size: 22px;
	/* margin: 0 auto; */
	margin: 1.46rem auto 1.168rem auto;
	-webkit-font-smoothing: antialiased;	
}
/* optimal path summary */
.container--optimal-path{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.container--optimal-path img{
	width: 100%;
	max-width: 100%;
	height: auto;;
}
.optimal-path__summary-img{
	width: 50%;
}
.optimal-path__summary-text{
	width: 50%;
	padding: 0 15px;
}
.optimal-path__summary-header{
	padding-top: 3%;
	margin-bottom: 35px;
	font-size: 25px;
	line-height: 34px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
.optimal-path__summary-desc{
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 25px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
.optimal-path__summary-desc .text-red{
	font-size: 24px;
	font-weight: 300;
}
/* how it works main */
/* how it works main banner */
.how-it-works-main{
	margin-bottom: 50px;
}
.how-it-works-main__banner{
	padding: 30px 0 20px 0;
	background-color: #f5f5f5;
}
.how-it-works-main__banner-header{
	max-width: 850px;
	font-weight: 200;
	font-size: 60px;
	padding: 10px 0 15px 0;
	color: #373c41;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin: 0 auto;
	line-height: 66px;
}
.how-it-works-main__banner-header .text-red{
	font-weight: 400;
}
/* how it works main grid */
.how-it-works-main__para{
	margin: 80px 0;
	font-weight: 300;
	font-size: 21px;
	color: #373c41;
	-webkit-font-smoothing: antialiased;
	line-height: 30px;	
}
.how-it-works-main__header{
	font-weight: 600;
	line-height: 23px;
	font-size: 22px;
	color: #373c41;
	-webkit-font-smoothing: antialiased;
}
.how-it-works-main__mo-imgs{
	display: flex;
	justify-content: space-between;
}
.how-it-works-main__img{
	margin-right: 9%;
	/* max-width: 300px; */
	width: 33%;
}
.how-it-works-main__img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.how-it-works-main__img:last-of-type{
	margin-right: 0;
}
.how-it-works-main__mo-txts{
	background-color: #efefef;
}
.container--how-it-works{
	display: flex;
}
.how-it-works-main__text{
	width: 33%;
	margin-right: 9%;
	padding: 25px;
	background-color: #373c41;
	color: white;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	
}
.how-it-works-main__text:last-of-type{
	margin-right: 0;
}
.how-it-works-main__mo-txts{
	margin: 15px 0;
}
/* second grid */
.how-it-works-main__grid--second .how-it-works-main__mo-imgs{
	background-color: #efefef;
}
.how-it-works-main__mo-txts-second{
	display: flex;
}
.how-it-works-main__mo-txts-second .how-it-works-main__text{
	background: none;
	color: #333;
	padding: 0;
	padding-top: 15px;
}
/* quality banner */
.quality__banner{
	padding: 20px 0;
}
.quality__banner-wrapper{
	background: url('../img/cta_1_btn_background_fullwidth.jpg');
	background-repeat: repeat-x;
	background-size: contain;
}
.quality__banner-small-text{
	position: relative;
	z-index: 2;
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	display: block;
	text-align: center;
	margin-top: -10px;
}
.container--quality{
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1300px;
	height: 100%;
	min-height: 120px;
	max-height: 180px;
}
.quality__banner-inner{
	position: absolute;
	width: 100%;
	top: 2vw;
	text-align: center;
	min-height: 100%;
	height: 100%;
	max-height: 180px;

	left: 48.4%;
	transform: translateX(-50%);
}
.quality__banner-img{
	max-width: 1300px;
}
.quality__banner-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.quality__banner-btn{
	font-size: 28px;
	padding: 20px 0;
	line-height: 28px;
	width: 55%;
	max-width: 700px;
	border-radius: 6px;
	font-weight: 900;
	margin: 0 auto;
	background-color: #ffde59;
	color: #395273;
	border: 3px #ffd94e solid;
	box-shadow: 0 2px 0 #e2c600, 0 6px 1px 0 #efefef;

	cursor: pointer;
}
.quality__banner-btn:hover{
	background-color: #ffe95a;
	border: 3px #ffea49 solid;
}
.quality__banner-btn-desc{
	font-size: 14px;
	line-height: 25px;
	font-weight: 500;
	display: block;
}
/* derma recommend */
.derma__banner{
	background: url('../img/devider_red_bg.jpg'), #ad0001;
	background-position: center;
	background-repeat: repeat-y;
	min-height: 100px;
	color: white;
}
.container--derma{
	background: 
		url('../img/img_derm_seal.png'), 
		url('../img/devider_red_bg_center.png');
	background-size: auto cover;
	background-position: 3.5% center, center top;
	background-repeat: no-repeat;
}
.derma__banner-header{
	font-weight: 300;
	max-width: 767px;
	text-align: center;
	padding-top: 25px;
	font-size: 44px;
	line-height: 46px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
.derma__banner-desc{
	/* margin: 15px auto 30px auto; */
	margin: 0 auto;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
	max-width: 600px;
	padding: 15px 0 30px 0;
}
/* doctor */
.doctor{
	margin-top: 50px;
}
.doctor__mo{
	display: flex;
}
.doctor__mo-img{
	width: 50%;
}
.doctor__mo-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.doctor__mo-text{
	width: 50%;
	background: #373c41 url('../img/cosmedique_dermotologist_sig.png');
	background-position: 90% 92%;
	background-repeat: no-repeat;
	background-size: 25%;
	color: white;
}
.doctor__mo-header{
	color: white;
	font-size: 21px;
	line-height: 30px;
	padding: 0 55px;
	margin: 85px 0 18px 0;
	font-weight: 400;
}
.doctor__mo-desc{
	color: white;
	font-size: 20px;
	line-height: 26px;
	padding: 0 55px 25px 55px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
.doctor__mo--rig-img{
	display: flex;
	flex-direction: row-reverse;
}
.doctor__mo--rig-img .doctor__mo-text{
	background: #494e55 url('../img/cosmedique_esthetician_sig.png');
	background-position: 80% 92%;
	background-size: 32%;
	background-repeat: no-repeat;
}
.doctor__mo--left-img:last-child .doctor__mo-text{
	background-color: white;
	background-image: none;
}
.doctor__mo-header-question{
	font-size: 42px;
	line-height: 50px;
	font-weight: 200;
	padding: 75px 60px 0 60px;
	color: #373c41;
	-webkit-font-smoothing: antialiased;
}
.doctor__mo-header-answer{
	font-size: 42px;
	line-height: 50px;
	font-weight: 600;
	padding: 10px 60px 0 60px;
	color: #373c41;
	margin: 1.46rem 0 1.168rem 0;
}
.doctor__mo-desc--small{
	font-size: 22px;
	line-height: 30px;
	font-weight: 300;
	padding: 0 60px 0 60px;
	color: #333;
}
/* media */
.media{
	margin-top: 50px;
}
.media__banner{
	background: url('../img/devider_red_bg.jpg'), #ad0001;
	background-position: center;
	background-repeat: repeat-y;
	min-height: 100px;
	color: white;
}
.container--media{
	background: url('../img/devider_red_bg_center.png');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: auto;
	min-height: auto;
}
.media__banner-header{
	text-align: center;
	font-weight: 300;
	margin: 0 auto;
	padding: 40px 0;
	font-size: 42px;
	line-height: 46px;
	max-width: 768px;
	text-transform: capitalize;
}
.media__grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}
.media__mo{
	width: 49%;
	background-color: #f0f0f0;
	display: flex;
	margin-bottom: 25px;
	min-height: 180px;
	height: 100%;
	padding: 25px 25px 25px 0;
	align-items: center;
}
.media__mo-text{
	width: 67%;
	padding-left: 20px;
}
.media__mo-img{
	width: 33%;
	height: 100%;
}
.media__mo-img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.media__mo-header{
	font-size: 20px;
	font-weight: 600;
	margin: 15px 0 0 15px;
	color: #373c41;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
.media__mo-desc{
	font-size: 18px;
	padding: 15px;
	padding-bottom: 0;
	font-style: italic;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.media__mo-desc .text-bold{
	font-weight: 700;
}
/* quality and satisfaction */
.quality-and-satis__banner{
	background: url('../img/devider_red_bg.jpg'), #ad0001;
	background-position: center;
	background-repeat: repeat-y;
	min-height: 100px;
	color: white;
	margin-top: 40px;
	text-align: center;
	padding: 40px 15px;
}
.quality-and-satis__banner-header{
	max-width: 768px;
	font-weight: 300;
	font-size: 35px;
	line-height: 42px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
.container--quality-and-satis{
	margin: 50px auto 50px auto;
	max-width: 900px;
}
.container--quality-and-satis img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* product and description */
.container--desc{
	display: flex;
	align-items: center;
}
.product-desc__img{
	width: 33.333%;
}
.product-desc__img img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.product-desc__text{
	width: 66.66666%;
	/* padding: 0 15px; */
	padding-left: 8%;
	padding-right: 15px;
}
.product-desc__heading{
	font-size: 34px;
	line-height: 40px;
	font-weight: 300;
	color: #373c41;
	margin: 31.5px 0 25.2px 0;
	-webkit-font-smoothing: antialiased;
}
.product-desc__desc{
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
	font-weight: 400px;
	-webkit-font-smoothing: antialiased;	
}
/* security banner */
.security-banner{
	margin-top: 50px;
}
.security-banner img{
	width: 100%;
	max-width: 1150px;
	height: auto;
	margin: 0 auto;
	display: block;
}
/* footer */
.footer-wrap{
	background: #373c41;
	min-height: 350px;
}
.footer--upper{
	display: flex;
	margin-top: 50px;
	padding-top: 50px;
}
.footer--upper__left{
	width: 33.3333%;
	padding: 0 36px;
}
.footer--upper__logo{
	width: 260px;
	height: 69px;
}
.footer--upper__logo img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
.footer--upper__desc{
	padding-top: 15px;
	color: white;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 15px;
}
.footer--upper__address{
	color: white;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
}
.footer--upper__middle{
	width: 16.66666%;
	padding: 0 15px;
}
.footer--upper__right{
	width: 50%;
	padding: 0 15px;
}
.footer--upper__middle-heading, .footer--upper__right-heading{
	font-size: 21px;
	font-weight: 500;
	color: #d9d6d6;
	padding-bottom: 4px;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;	
	display: block;
}
.footer-links{
	margin-left: 2px;
	margin-bottom: 10px;
}
.footer-links li{
	line-height: 29px;
	font-size: 14px;
}
.footer-links a{
 color: #e7f7ff;
	-webkit-font-smoothing: antialiased;	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
.footer-links a:hover{
	color: #f5f5f5;
}
.footer--upper__right-heading{
	width: 50%;
	float: left;
	padding-bottom: 0;
}
.footer--upper__right-socials{
	width: 50%;
	float: left;
	padding-bottom: 5px;
	text-align: right;		
}
.footer--upper__right-socials a{
	font-size: 30px;
	font-weight: 500;
	color: #a0a3a4;
	margin-left: 10px;
	transition: color 0.1s linear 0s, background 0.2s linear 0s;
}
.footer--upper__right-socials a:hover{
	color: #f5f5f5;
}
.footer--upper__right-left-side{
	clear: both;
}
.footer--upper__right-right-side,
.footer--upper__right-left-side {
	width: 50%;
	float: left;
}
.footer--upper__right-right-side .text-bold{
	font-size: 14px;
	color: #d2d2d2;
	font-family: 'Open Sans', sans-serif;
	display: block;
	-webkit-font-smoothing: antialiased;	
	line-height: 29px;
	font-weight: 700;	
}
.fa-phone, .fa-globe, .fa-envelope{
	margin-right: 10px;
}
.footer--upper__right-right-side .phone, .phone-int, .email{
	display: block;
	font-size: 16px;
	color: #d2d2d2;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
	-webkit-font-smoothing: antialiased;	
	line-height: 29px;
}
.footer--upper__right-right-side .email{
	margin-top: 10px;
}
.footer--upper__right-right-side .email__address a{
	color: #e7f7ff;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	font-family: 'Open Sans', sans-serif;
	
}
.footer--upper__right-right-side .email__address a:hover{
	color: #f5f5f5;
}
.footer-disclaimer{
	margin-top: 50px;
}
.footer-disclaimer__text{
	padding: 0 15px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 14px;
	color: #e7f7ff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;	
}
.footer-disclaimer__text a{
	font-size: 14px;
	color: #e7f7ff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;	
}
/* footer lower */
.footer--lower{
	min-height: 40px;
	margin-top: 25px;
	background-color: #b30001;
}
.container--footer-lower{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer--lower__left{
	margin: 10px 0;
}
.footer--lower__left-copyright{
	color: white;
	font-size: 14px;
}
.footer--lower__right-link{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.footer--lower__right-link::after{
	content: "/";
	color: white;
	margin: 0 8px;
}
.footer--lower__right-link:last-of-type::after{
	content: none;
}
/* desktop finish */
/* 1200- */
@media only screen and (max-width: 1200px){
	.visible-desk{
		display: none !important;
	}
	.visible-tab{
		display: block !important;
	}
	.big-image__wrapper{
		width: 946px;
		height: 806px;
	}
	.container--optimal-path{
		align-items: center;
	}
	.container--results{
		background-size: 12%, 12%, cover;
		background-position: 1% center, 98% center, center top;
	}
	.news__flags-desc{
		padding: 0 0 0 10px;
		font-size: 16px;
		line-height: 20px;
	}
	.formula--desk-img{
		position: initial;
		left: 0;
		margin-left: 0;
		width: 66.6666%;
		float: left;
	}
	.formula--desk .formula__text:first-of-type{
		padding-top: 30px;
	}
	.formula__text-desc{
		margin-bottom: 0;
	}
	.formula--desk .formula__text{
		margin-left: 67.666667%;
	}
	.how-it-works__heading{
		padding: 0 0 5px 0;
		font-size: 54px;
	}
	.container--derma{
		background-size: auto, cover;
		background-position: 3.5% center, center top;

	}
}
@media only screen and (max-width: 1130px) {
	.doctor__mo-desc{
		line-height: 23px;
		font-size: 1.6vw;
	}
	.doctor__mo-header{
		margin-top: 35px;
	}
}
@media only screen and (max-width: 1000px) {
	.big-image__wrapper{
		width: 866px;
		height: 726px;
	}
	.big-image__wrapper--small{
		width: 478px;
		height: 321px;
	}
	.results-banner__heading{
		font-size: 40px;
	}
	.quality__banner-btn{
		padding: 1.5vw 0;
	}
	.derma__banner-header{
		font-size: 38px;
		line-height: 42px;
		padding: 25px 0 0 0;
	}
	.media__mo-text{
		padding-left: 0;
	}
}
@media only screen and (max-width: 1000px) {
	.big-image__wrapper{
		width: 746px;
		height: 606px;
	}
	.container--small{
		padding-left: 50px;
	}
	.big-image__wrapper--small{
		width: 398px;
		height: 341px;
		top: 421px;
	}
	.big-image{
		height: 640px;
		max-height: 640px;
	}
	.news__item-heading{
		font-size: 26px;
		line-height: 32px;
		padding: 0 15px 0 0;
	}
	.news__item-para{
		font-size: 18px;
	}
	.results-banner__heading{
		font-size: 34px;
	}
	.results-banner__desc{
		font-size: 18px;
		padding: 10px 20px 40px 10px;
		max-width: 682px;
		font-weight: 400;
	}
	.science-section__heading{
		font-size: 28px;
		font-weight: 300;
	}
	.science-section__item--img-rig{
		margin-bottom: 50px;
	}
	.science-section__list{
		padding-top: 0;
	}
	.how-it-works__heading{
		font-size: 45px;
	}
	.formula__text-heading{
		font-size: 14px;
		margin-bottom: 0;
	}
	.formula__text-desc{
		font-size: 14px;
		height: 80px;
	}
	.optimal-path__banner-desc{
		margin: 0.46rem auto 1.168rem auto;
	}
	.optimal-path__banner{
		padding: 20px;
		margin-bottom: 25px;
	}
	.how-it-works-main__banner-header{
		font-size: 50px;
	}
	.how-it-works-main__banner{
		padding: 10px 0 20px 0;
	}
	.how-it-works-main__para{
		margin: 40px 0;
	}
	.how-it-works-main__img{
		margin-right: 3%;
	}
	.how-it-works-main__text{
		margin-right: 3%;
	}
	.quality__banner-btn{
		font-size: 20px;
	}
	.derma__banner-desc{
		display: none;
	}
	.container--derma{
		background-size: 14%, cover;
		background-position: 3.5% center, center top;
	}
	.derma__banner-header{
		padding: 36px 0;
		font-size: 35px;
		line-height: 36px;
	}
	.doctor{
		margin-top: 0;
	}
	.container{
		width: 100%;
		padding: 0;
	}
	.doctor__mo-header-question{
		font-size: 28px;
		line-height: 34px;
		font-weight: 200;
		margin: 0 0 10px 0;
		padding: 35px 40px 0 40px;
	}
	.doctor__mo-header-answer{
		font-size: 32px;
		line-height: 50px;
		font-weight: 600;
		margin: 0 0 10px 0;
		padding: 0 40px 0 40px;
	}
	.doctor__mo-desc--small{
		font-size: 16px;
		line-height: 20px;
		font-weight: 300;
		padding: 0 40px 0 40px;
	}
	.big-image__text-container{
		padding-left: 50px;
	}
	.how-it-works-main__progress{
		padding: 0 10px;
	}
	.media__grid{
		margin-top: 25px;
	}
	.quality__banner--hidden{
		display: none;
	}
	.product-desc__heading{
		font-size: 28px;
		line-height: 33px;
		font-weight: 300;
	}
	.product-desc__desc{
		font-size: 16px;
	}
	.footer--upper{
		flex-wrap: wrap;
	}
	.footer--upper__left, .footer--upper__middle{
		width: 50%;
	}
	.footer--upper__right{
		width: 100%;
	}
	.container--footer-lower{
		padding: 0 10px;
	}
}
@media only screen and (max-width: 900px) {
	.header-top__nav{
		display: none;
		width: 100%;
	}
	.header-top__nav-list{
		margin-left: 0;
	}
	.header-top__nav-list li{
		border-bottom: 1px solid #222;
		display: block;
		padding: 15px 5px 15px 15px;
		margin-right: 0;
	}
	.header-top__left-side{
		width: 100%;
	}
	.header-top__logo-wrapper{
		margin: 0 auto;
	}
	.responsive-menu__btn{
		display: inline-block;
		background: #666;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
		left: 8px;
		color: #383c41;
	}
	.header-top__nav-list--active{
		display: block;
	}
}
@media only screen and (max-width: 850px) {
	.big-image__wrapper{
		width: 656px;
		height: 526px;
	}
	.big-image{
		height: 560px;
		max-height: 560px;
	}
	.results-banner__desc{
		max-width: 552px;
		padding-bottom: 15px;
	}
	.container--results{
		background-size: 14%, 15%, cover;
		background-position: 1% center, 99% center, center top;
		background-repeat: no-repeat;
	}
	.results-banner__heading{
		padding-top: 15px;
	}
	.science-section{
		margin-top: 30px;
	}
	.formula__text-desc{
		font-size: 12px;
		line-height: 14px;
		height: 60px;
	}
	.doctor__mo--rig-img .doctor__mo-text{
		background-size: 25%;
		background-position: 90% 95%;
	}
	.optimal-path__banner-header{
		font-size: 45px;
	}
}
@media only screen and (max-width: 850px) {
	.doctor__mo-header{
		margin-top: 15px;
		padding: 0 20px;
	}
	.doctor__mo-desc{
		padding: 0 20px;
		
	}
	.doctor__mo-header-question, .doctor__mo-header-answer, .doctor__mo-desc--small{
		padding: 15px 20px 0 20px;
		margin-bottom: 0;
	}
	.doctor__mo-header-answer{
		padding-top: 0;
	}
	.doctor__mo-desc--small{
		padding-top: 0;
	}
}
@media only screen and (max-width: 750px) {
	.big-image__wrapper--small{
		display: none;
	}
	.big-image__wrapper{
		width: 75vw;
	}
	.big-image__text-container{
		padding-left: 30px;
		font-size: 16px;
		line-height: 24px;
	}
	.big-image{
		height: 65vw;
		max-height: 65vw;
	}
	.news__item{
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.news__item-heading{
		order: -1;
		text-align: center;
		padding-bottom: 5px;
	}
	.news__item-img--desk{
		display: none !important;
	}
	.news__item-img--tab{
		display: block !important;
	}
	.news__item-img{
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
	.news__item-para{
		padding: 10px;
	}
	.news__post-services{
		display: none;
	}
	.news__flags-container{
		max-width: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.news__flags{
		width: 200px;
		padding-left: 0;
	}
	.news__flags-desc{
		width: 80%;
		display: block;
		text-align: center;
		padding-top: 5px;
	}
	.quality__banner--small{
		display: block !important;
		margin-bottom: 30px;
	}
	span.quality__banner-btn-header{
		text-align: center;
		display: block;
	}
	.quality__banner-btn-desc{
		text-align: center;
	}
	.quality__banner-small-text{
		margin-top: 10px;
	}
	.quality__banner-btn{
		width: 75%;
	}
	.news-left-side, .news__full-width{
		background: none;
	}
	.container--results{
		background: url('../img/img_num1_seal.png'), url('../img/devider_red_bg_center.png');
		background-size: 18%, cover;
		background-position: 97% center, center top;
		background-repeat: no-repeat;
	}
	.results-banner__heading{
		text-align: left;
		padding-left: 5px;
	}
	.results-banner__desc{
		text-align: left;
		margin: 0;
		padding-left: 5px;
		padding-top: 5px;	
		max-width: 522px;	
	}
	.science-section__item--img-rig{
		flex-direction: column;
	}
	.science-section__heading{
		display: none;
	}
	.science-section__heading--tab{
		display: block;
		font-weight: 300;
		font-size: 38px;
		text-transform: uppercase;
		margin-bottom: 25px;
		-webkit-font-smoothing: antialiased;
		line-height: 110%;
		color: rgba(55, 60, 65);
		padding: 0 15px;
	}
	.science-section__text{
		width: 100%;
		order: 2;
	}
	.science-section__item--img-rig .science-section__item-bckg{
		order: 1;
		width: 100%;
	}
	.science-section__item.science-section__item--img-lef{
		flex-direction: column;
	}
	.science-section__item--img-lef .science-section__item-bckg{
		width: 100%;
	}
	.science-section__desc{
		padding-top: 15px;
	}
	.visible-tab{
		display: none !important;
	}
	.visible-phone{
		display: block !important;
	}
	.formula--desk-img{
		width: 100%;
	}
	.formula--desk .formula__text{
		margin: 0;
		padding: 0;
	}
	.container--formula{
		display: none;
	}
	.container--formula-small{
		display: block;
		clear: both;
		padding: 0 15px 0 20px;
		margin-bottom: 25px;
	}
	.formula__text-heading{
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 20px;
	}
	.formula__rounded-img{
		min-width: 100px;
    max-width: 100px;
    margin: 0 15px 0 0;
    padding: 0;
    overflow: hidden;
	}
	.formula__rounded-img img{
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	.formula--desk .formula__text{
		padding-top: 25px;
	}
	.formula__text-heading{
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 20px;
	}
	.formula__text-desc-img{
		display: flex;
		padding: 0 15px 0 20px;
	}
	.formula__text-desc{
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		-webkit-font-smoothing: antialiased;
		color: #333;
		max-width: none;
	}
	.optimal-path__summary-text{
		display: none;
	}
	.optimal-path__summary-header--resp{
		display: block;
	}
	.optimal-path__summary--resp{
		display: block;
		padding: 15px;
	}
	.container--optimal-path{
		flex-direction: column;
	}
	.optimal-path__summary-header--resp{
		margin: 0;
    padding: 25px 10px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
	}
	.optimal-path__summary-img{
		width: 100%;
	}
	.optimal-path__summary-desc{
		padding: 15px 20px 0 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 25px;
	}
	.optimal-path{
		border: none;
	}
	.how-it-works-main{
		border-top: 17px solid #dcdcdc;
	}
	.how-it-works-main__para{
		padding: 0 20px;
		font-size: 18px;
	}
	.how-it-works-main__header{
		padding-bottom: 25px;
	}
	.grid--resp{
		display: none;
	}
	.how-it-works-resp-main{
		display: flex;
		flex-direction: column;
	}
	.how-it-works-main__img{
		width: 100%;
	}
	.how-it-works-main__text{
		width: 100%;
		color: white;
	}
	.how-it-works-main__mo-txts-second .how-it-works-main__text{
		padding: 15px;
	}
	.quality__banner{
		display: none;
	}
	.derma__banner-header{
		font-size: 31px;
		text-align: left;
		margin-left: 25%;
	}
	.doctor{
		margin-bottom: 50px;
	}
	.doctor__mo-img{
		width: 200px;
		height: 500px;
		background: url('../img/cosmedique_dermotologist_s.jpg');
		background-position: top center;
		background-size: cover;
	}
	.doctor__mo-img img{
		display: none;
	}
	.doctor__mo-text{
		width: 100%;

	}
	.doctor__mo-header{
		padding: 0 40px 25px 40px;
		
	}
	.doctor__mo-desc{
		font-size: 18px;
		line-height: 24px;
		padding: 0 40px 25px 40px;
	}
	.doctor__mo--rig-img{
		flex-direction: row;
	}
	.doctor__mo--left-img--resp{
		flex-direction: column;
	}
	.doctor__mo--left-img--resp .doctor__mo-img{
		width: 100%;
		background: none;
		height: auto;
	}
	.doctor__mo--left-img--resp .doctor__mo-img img{
		display: block;
	}
	.doctor__mo-header-question{
		font-size: 42px;
    line-height: 50px;
    font-weight: 200;
    padding: 75px 60px 0 60px;
	}
	.doctor__mo-header-answer{
		font-size: 42px;
    line-height: 50px;
    font-weight: 600;
    padding: 10px 60px 0 60px;
	}
	.doctor__mo-desc--small{
		font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    padding: 25px 60px 0 60px;
	}
	.media__banner-header{
		color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 37px;
    line-height: 42px;
	}
	.media__mo{
		width: 100%;
		margin: 0 15px 25px 15px;
	}
	.product-desc{
		display: none;
	}
	.securty-banner__img{
		display: none !important;
	}
	.securty-banner__img--resp{
		display: block !important;
	}
	.footer--upper{
		flex-direction: column;
	}
	.footer--upper__logo{
		margin: 0 auto;
	}
	.footer--upper__left, .footer--upper__middle{
		width: 100%;
	}
	.footer--upper__right-right-side, .footer--upper__right-left-side{
		width: 100%;
		float: none;
	}
	.footer--upper__left{
		padding: 0 15px;
	}
	.footer--upper__left, .footer--upper__middle, .footer--upper__right{
		margin-bottom: 25px;
	}
}
@media only screen and (max-width: 650px) {
	.big-image__text-container{
		max-width: 43vw;
		min-width: 43vw;

		font-size: 2.5vw;
		line-height: 2.5vw;
		padding-left: 3vw;
		max-height: auto;
		min-height: auto;
	}
	.big-image__paragraph{
		margin-bottom: 1.5vw;
	}
	.big-image__header{
		font-size: 5vw;
		line-height: 5vw;
	}
}
@media only screen and (max-width: 600px){
	.doctor__mo-img--phone{
		display: block !important;
	}
	.doctor__mo-img{
		background: none;
		width: 100%;
		height: auto;
	}
	.doctor__mo{
		flex-direction: column;
	}
	.doctor__mo-header{
		padding-bottom: 0;
	}
	.doctor__mo-desc{
		padding-bottom: 85px;
	}
	.doctor__mo-text{
		background-size: 20%;
	}
	.footer--lower__left-copyright, .footer--lower__right-link{
		font-size: 1.8vw;
	}
	.how-it-works__heading{
		font-size: 30px;
	}
	.how-it-works__text{
		font-size: 22px;
	}
	.how-it-works__banner{
		padding: 15px;
	}
	.how-it-works__desc{
		font-size: 30px;
	}
	.optimal-path__banner-header{
		font-size: 38px;
	}
	.optimal-path__banner-desc{
		font-size: 17px;
	}
	.optimal-path__banner{
		padding: 10px;
		margin-bottom: 0;
	}
	.optimal-path__summary-header--resp{
		font-size: 20px;
		line-height: 24px;
	}
	.how-it-works-main__banner{
		padding-bottom: 10px;	
	}
	.how-it-works-main__banner-header{
		font-size: 34px;
    line-height: 44px;
    font-weight: 200;
    padding: 0 0 15px 0;
	}
	.doctor__mo-header-question{
		font-size: 28px;
    line-height: 34px;
    font-weight: 200;
    margin: 0 0 10px 0;
    padding: 35px 20px 0 20px;
	}
	.doctor__mo-header-answer{
		font-size: 32px;
    line-height: 50px;
    font-weight: 500;
    margin: 0 0 10px 0;
    padding: 0 20px 0 20px;
	}
	.doctor__mo-desc--small{
		font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    padding: 0 20px 0 20px;
	}
	.media__banner-header{
		margin: 0;
    font-size: 28px;
		line-height: 30px;
		padding: 20px 5px;
	}
	.media__mo-header{
		font-size: 17px;
	}
	.media__mo-desc{
		font-size: 14px;
	}
	.quality-and-satis__banner-header{
		font-size: 32px;
		line-height: 37px;
	}
	.quality-and-satis__banner{
		padding: 20px 15px;
	}
	.news__item-heading{
		padding-bottom: 15px;
	}
}
@media only screen and (max-width: 500px){
	.container--results{
		background: none;
	}
	.results-banner__heading{
		text-align: center;
		font-size: 30px;
	}
	.results-banner__desc{
		margin: 0 auto;
    padding: 15px 10px 30px 10px;
    font-weight: 400;
    font-size: 17px;
    max-width: 90%;
    text-align: center;
	}
	.how-it-works__text{
		width: 90%;
    margin: 0 auto;
    font-weight: 300;
    padding: 0 0 0 0;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
	}
	.how-it-works__heading{
		padding-bottom: 0;
	}
	.optimal-path__banner-desc{
		line-height: 24px;
	}
	.optimal-path__summary-desc{
		margin-bottom: 10px;
	}
	.quality__banner-btn{
		width: 85%;
	}
}
@media only screen and (max-width: 450px){
	.news__flags-container{
		max-width: 550px;
		width: 80%;
	}
	.science-section__heading--tab{
		font-size: 7vw;
		text-align: center;
	}
	.quality__banner-btn{
		font-size: 15px;
	}
	.quality__banner-btn-desc{
		font-size: 12px;
	}
	.big-image__wrapper{
		display: none;
	}
	.big-image__wrapper--small{
		display: block !important;
		top: 75vw;
		width: 80vw;
		height: auto;
		position: relative;
		margin: 0 auto;
	}
	.big-image{
		height: 135vw;
		max-height: 135vw;
	}
	.big-image__text-container{
		width: 80%;
    max-width: 80%;
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;
	}
	.big-image__header{
		font-size: 38px;
    line-height: 38px;
	}
	.derma__banner-header{
		font-size: 6vw;
		line-height: 6vw;
	}
	.doctor__mo-desc{
		padding-bottom: 105px;
	}
	.big-image__line{
		top: 5vw;
	}
	.science-section__desc{
		font-size: 18px;
	}
	.formula__text-desc-img{
		padding: 0;
	}
	.container--derma{
		background-size: 20%, cover;
	}
	.big-image__paragraph{
		margin-bottom: 4.5vw;
	}
}
@media only screen and (max-width: 380px){
	.big-image__text-container{
		width: 95%;
		max-width: 95%;
	}
	.big-image__header{
		font-size: 30px;
		line-height: 30px;
	}
	.container--footer-lower{
		flex-direction: column;
	}
	.footer--lower__left-copyright, .footer--lower__right-link{
		font-size: 2.8vw;
	}
	.footer--lower__left, .footer--lower__right{
		margin-bottom: 5px;
	}
	.quality-and-satis__banner-header{
		font-size: 28px;
		line-height: 28px;
	}
	.formula--desk .formula__text{
		padding-top: 45px;
	}
	.formula__text-desc{
		height: 110px;
	}
	.optimal-path__summary-desc{
		padding-left: 0;
		padding-right: 0;
	}
	.doctor__mo-desc{
		padding-left: 10px;
		padding-right: 10px;
	}
	.quality__banner-small-text{
		font-size: 11px;
	}
}